<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="https://github.com/stefanocaglio/AS2526_5CLS/blob/main/assets/myfavicon.png?raw=true">
  <title>5CLS - as 2025-2026</title>
  <!-- Include Tailwind CSS via CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans text-gray-800 bg-white p-5">    
  <div class="max-w-4xl mx-auto">
    <!-- Header -->
    <header class="bg-gray-100 p-6 text-center rounded-lg mb-6">
      <img src="https://github.com/stefanocaglio/AS2526_5CLS/blob/main/assets/Logo_Mapelli-marimo.png?raw=true" alt="Mapelli and marimo Logo" class="inline w-44 mx-auto mb-3">
    <!---
      <img src="https://github.com/stefanocaglio/AS2526_5CLS/blob/main/assets/LogoMapelli.png?raw=true" alt="Mapelli Logo" class="inline w-24 h-auto mx-auto mb-3 pr-4">
      <img src="https://github.com/stefanocaglio/AS2526_5CLS/blob/main/assets/plus-symbol-button.png?raw=true" alt="Mapelli Logo" class="inline max-h-1/5 mx-auto mb-3">
      <img src="https://raw.githubusercontent.com/marimo-team/marimo/main/docs/_static/marimo-logotype-thick.svg" alt="marimo Logo" class="inline w-24 h-auto mx-auto mb-3 pl-4">
    -->
      <h1 class="text-3xl font-bold mb-2">5CLS | as 2025-2026</h1>
      <p class="text-sm">Notebook interattivi in <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 7.5H7.5m4.5 9h4.5m0 0h1.521c.807 0 1.634-.188 2.13-.824c.531-.679 1.099-1.835 1.099-3.676c0-1.84-.568-2.997-1.098-3.676c-.497-.636-1.324-.824-2.13-.824H16.5m0 9v1.521c0 .807-.188 1.634-.824 2.13c-.679.531-1.835 1.099-3.676 1.099c-1.84 0-2.997-.568-3.676-1.098c-.636-.497-.824-1.324-.824-2.13V16.5m0-9H5.978c-.807 0-1.633.188-2.13.824c-.53.679-1.098 1.835-1.098 3.676c0 1.84.568 2.997 1.098 3.676c.497.636 1.323.824 2.13.824H7.5m0-9V5.978c0-.807.188-1.633.824-2.13c.679-.53 1.835-1.098 3.676-1.098c1.84 0 2.997.568 3.676 1.098c.636.497.824 1.323.824 2.13V7.5m-9 9V14a2 2 0 0 1 2-2h5a2 2 0 0 0 2-2V7.5"/><path fill="currentColor" d="M15 18.5a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0m-6-13a.75.75 0 1 1 1.5 0a.75.75 0 0 1-1.5 0"/></g></svg> 
       su <a href="https://github.com/stefanocaglio/AS2526_5CLS"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5c.08-1.25-.27-2.48-1-3.5c.28-1.15.28-2.35 0-3.5c0 0-1 0-3 1.5c-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.4 5.4 0 0 0 4 9c0 3.5 3 5.5 6 5.5c-.39.49-.68 1.05-.85 1.65S8.93 17.38 9 18v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></g></svg><a> </p>
    </header>

    <main>
      {% if notebooks %}
      <h2 class="text-xl font-bold text-center my-6">Notebooks</h2>
      <p class="text-center mb-4 text-sm">Notebook interattivi in modalità di modifica - puoi modificare e sperimentare con il codice</p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-8">
        {% for notebook in notebooks | sort(attribute="display_name") %}
        <!-- {{ notebook.display_name }} Notebook -->
        <div class="bg-gray-50 border border-gray-200 rounded-lg overflow-hidden">
          <div class="bg-gray-200 p-3 font-semibold text-center">{{ notebook.display_name }}</div>
          <div class="p-4">
            <a href="{{ notebook.html_path }}" class="flex justify-center bg-gradient-to-b from-orange-400 to-orange-400 hover:from-orange-400 hover:to-orange-600 text-sm text-white py-1 px-3 rounded transition-colors">Apri Notebook</a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if apps %}
      <h2 class="text-xl font-bold text-center my-6">Apps</h2>
      <p class="text-center mb-4 text-sm">Applicazioni interattive in modalità di esecuzione - il codice è nascosto per avere un'interfaccia utente più pulita</p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        {% for app in apps  | sort(attribute="display_name") %}
        <!-- {{ app.display_name }} App -->
        <div class="bg-gray-50 border border-gray-200 rounded-lg overflow-hidden">
          <div class="bg-gray-200 p-3 font-semibold text-center">{{ app.display_name }}</div>
          <div class="p-4">
            <a href="{{ app.html_path }}" class="flex justify-center bg-gradient-to-b from-emerald-400 to-emerald-400 hover:from-emerald-400 hover:to-emerald-600 text-sm text-white py-1 px-3 rounded transition-colors">Apri App</a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </main>

    <footer class="mt-10 pt-6 border-t border-gray-200 text-center text-sm text-gray-600">
      <p class="mb-2">Realizzato con <a href="https://marimo.io" target="_blank" class="text-zinc-700 hover:text-zinc-400">marimo</a> e ♡ da <a href="https://stefanocaglio.com" target="_blank" class="text-zinc-700 hover:text-zinc-400">Stefano Caglio</a> per <a href="https://www.mapelli-monza.edu.it/" target="_blank" class="text-zinc-700 hover:text-zinc-400">ITCG A. Mapelli</a></p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-8">
        <div class="py-2"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M6.125 12.15q.65-1.65 1.563-3.175T9.75 6.1l-1.3-.275q-.5-.1-.975.05t-.825.5L3.5 9.525q-.375.375-.288.9t.588.725zm14.7-9.75q-2.65-.125-5.037 1.025T11.525 6.45q-1.2 1.2-2.113 2.6T7.826 12q-.125.325-.125.663t.25.587l3.125 3.125q.25.25.588.25t.662-.125q1.55-.675 2.95-1.588t2.6-2.112q1.875-1.875 3.025-4.262T21.925 3.5q0-.2-.1-.4t-.25-.35t-.35-.25t-.4-.1m-6.35 7.45q-.575-.575-.575-1.412t.575-1.413t1.413-.575t1.412.575t.575 1.413T17.3 9.85t-1.412.575t-1.413-.575m-2.3 8.35l1 2.325q.2.5.725.6t.9-.275l3.15-3.15q.35-.35.5-.837t.05-.988l-.25-1.3q-1.375 1.15-2.887 2.063T12.175 18.2M4.05 16.05q.875-.875 2.125-.888t2.125.863t.875 2.125t-.875 2.125q-1.2 1.2-2.838 1.425t-3.287.45q.225-1.65.463-3.287T4.05 16.05"/></svg> </div>
        <div class="py-2">Instagram</div>
        <div class="py-2">Test</div>
        <div class="py-2">Test</div>
      </div>
<!--
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-8">
        <div class="py-2">LinkedIn</div>
        <div class="py-2">Instagram</div>
        <div class="py-2">Test</div>
        <div class="py-2">Test</div>
      </div>
-->      
    </footer>
  </div>
</body>
</html>
